<?xml version="1.0" encoding="UTF-8"?> 
<application xmlns="http://ns.adobe.com/air/application/50.0"> 
    <id>com.hydroper.fortoressexy</id> 
    <versionNumber>1.0</versionNumber> 
    <filename>FortoresseXY</filename> 
    <initialWindow>
        <title>Fortoresse XY</title>
        <content>build/app.swf</content> 
        <visible>true</visible> 
        <width>1024</width> 
        <height>620</height> 
    </initialWindow> 
</application>